.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
EDG/
yinhe/
1080.png
480.png
720.png
EDG.zip
yinhe.zip
welcome.png
sports/
AG/
720.1242.png
1080.1882.png
480.762.png
1080.2340.png
welcome1.png
JinLong/
EDG_INR/
合并代码/
src/assets/video/123ad.png
src/assets/video/1555052827983_8a4d835e.mp4
guangfa/
lucky-star/
